@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,700;1,700&display=swap');


@font-face {
    font-family: 'VCR_OSD_MONO';
    src: url('./VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.heading {
  margin-bottom: 5vh;
  font-size: 4vh;
  line-height: 6vh;
  color: var(--Text-Primary);
  font-weight: 600;
}

.main-content-home {
  flex: 1;



}

.Cardcontainer {

  overflow-y: auto;
  overflow-x: hidden;

}


.card-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: Syne;
  color: var(--Text-Primary);
  font-weight: 600;
  width: 100%;
  margin-bottom: 20px;
}

.card-title::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: var(--Stroke-Default);
  margin-left: 10px;
}

.hidefordesktop {
  display: none;
}

.section {
  width: 80%;
  padding-left: 4vw;
  padding-top: 3vw;
  padding-right:4vw;
  height: 100vh;
  overflow-y: auto;

}

.section::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

/* Transaction List */
.transaction-list {}

.transaction-list .holder {}

.transaction_item {
  display: flex;
  border: 1px solid var(--Stroke-Default, #D2D9E1);
  margin-bottom: 24px;
  border-radius: 1rem;
  background: #fff;
}

.transaction_details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 5vw;
  gap: 4vw 5vw;
  margin: auto;
  font-size: larger;
  height: 100%;
  color: var(--Text-Secondary, #415467);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Syne;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  /* 16.8px */
}

.transaction-list .card_section {
  width: 30%;
}

 strong {
  color: var(--Text-Primary, #121A21);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Syne;
  font-style: normal;
  font-weight: 450;
  font-size: 1.25rem;
  line-height: 150%;
  /* 24px */
}

.view_details {
  display: flex;
  margin: auto;
  position: relative;
  right: -8%;

}

.view_details svg {
  float: right;
 
  color: var(--Stroke-Black);
  border-radius: 30px;
  border: 2px solid var(--Stroke-Black);
  padding: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.2s;
  background-color: white;
}

.view_details svg:hover {
  filter: invert(1);
}


/* CSS for Mobile */
@media (max-width: 768px) {
  .section {
    width: 100%;
    padding-left: 0;
    padding-top: 2vh;
  }

  .home {
    margin: 1vh auto;
    width: 90%;
  }

  .main-content-home {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    width: 99%;
    margin: 2vh auto;
    overflow: hidden;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
  }

  .container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
  }

  .hidefordesktop {
    display: block;
  }

  .Cardcontainer {
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */

  }

  .transaction_item {
    margin: auto;
  }

  .transaction-list .transaction_item {
    display: block;
    width: 80vw;

  }

  .transaction_details {
    margin-top: 5vh;
    margin-bottom: 2vh;
  }

  .transaction-list .card_section {
    width: 100%;
  }

  .view_details {
    position: relative;
    left: 80%;
    top: 1.5vh;
    color: white;

  }
}